*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body{
  background-image:url(../img/login/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #959D99;
  width: 100%;
  height: 100%;
}

.caixa{
  position: relative;
  top: 450px;
  left: 955px;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 900px;
  height: 650px;
  background-color: #556B2F;
}

.parte-verde{
  position: relative;
  border-radius: 30px;
  background-color: #ffffff;
  width: 900px;
  height: 220px;
}

.parte-verde img{
  width: 250px;
  position: absolute;
  top:70px;
  left: 330px;
}

.parte-verde p{
  font-weight: 300;
  font-size: 16px;
  color: #556B2F;
  position: absolute;
  top: 150px;
  left: 333px;
}

.parte-verde i{
  color: #556B2F;
  position: absolute;
  left: 40px;
  top: 60px;
  font-size: 35px;
}

h3{
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top: 270px;
  left: 320px;
}

.secao{
  position:relative;
  border: none;
  border-radius: 10px;
  width: 500px;
  height: 40px;
}

#input2{
  font-size: 17px;
  position: absolute;
  top: 330px;
  left: 200px;
  padding-left: 100px;
}

#input3{
  position: absolute;
  top: 382px;
  left: 200px;
  padding-left: 110px;
}

.input2 i{
  font-size: 24px;
  position: absolute;
  top: 332px;
  left: 210px;
}

.input3 i{
  font-size: 24px;
  position: absolute;
  top: 385px;
  left: 210px;
}

.input2 .placeholder{
  font-weight: 600;
  position:absolute;
  top: 338px;
  left: 245px;
}

.input3 .placeholder{
  font-weight: 600;
  position:absolute;
  top: 388px;
  left: 245px;
}

.entrar{
  background-color: white;
  font-weight: 700;
  color: #556B2F;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  position: absolute;
  top: 500px;
  left: 360px;
  width: 170px;
  height: 50px;
  cursor: pointer;
}

.entrar:hover{
  background-color:#ececec;
}

.msgError{
  width: 360px;
  height: 40px;
  position: relative;
  top: 225px;
  left: 335px;
  text-align: center;
  color: #9b0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
