*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body{
  background-image:url(../img/login/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #959D99;
}

.caixa{
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 900px;
  height: 650px;
  background-color: white;
}

.parte-verde{
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #556B2F;
  width: 270px;
  height: 650px;
}

.parte-verde img{
  width: 200px;
  position: absolute;
  top: 25%;
  left: 38px;
}

.parte-verde h3{
  font-weight: 700;
  font-size: 33px;
  position: absolute;
  color: white;
  top: 60%;
  left: 13%;
}

.parte-verde p{
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 200;
  top: 67%;
  left: 13%;
}

.botao-entrar{
  border: solid white 1px;
  border-radius: 30px;
  width: 170px;
  height: 50px;
  position: absolute;
  top: 80%;
  left: 19%;
}

.botao-entrar h3{
  font-weight: 700;
  position: absolute;
  font-size: 20px;
  top: 8px;
  left: 25%;

}

.parte-branca{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  background-color: white;
  width: 630px;
  height: 650px;
  top: 0%;
  left: 30%;
}

.parte-branca h3{
  font-weight: 700;
  position: absolute;
  color: #556B2F;
  font-size: 30px;
  top: 12%;
  left: 188px;

}

.parte-branca p{
  color: #556B2F;
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  top: 20%;
  left: 220px;
}

.secao{
  background-color: #EBEBEB;
  border: none;
  border-radius: 15px;
  position: absolute;
  top: 210px;
  left: 95px;
  width: 450px;
  height: 40px;
}

.preencher i{
  font-size: 25px;
  position: absolute;
  top: 213px;
  left: 108px;
}

.placeholder{
  color: #959D99;
  position: absolute;
  top: 221px;
  left: 138px;
  font-weight: 400;
}

.input2{
  position: absolute;
  top: 55px;
}

.input2 i{
  position: absolute;
  top: 215px;
  font-size: 23px;
}

.input3{
  position: absolute;
  top: 111px;
}

.input4{
  position: absolute;
  top: 170px;
}

 .botao-cadastrar{
  background-color: #556B2F;
  border-radius: 30px;
  width: 190px;
  height: 50px;
  position: absolute;
  top: 80%;
  left: 231px;
 }

 .botao-cadastrar h3{
  color: white;
  font-size: 20px;
  position: relative;
  left: 43px;
  top: 9px;
 }

