*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.cabecalho{
  position: relative;
  background-color: #556B2F;
  height: 50px;
}

.cab-logo{
  position: absolute;
  right: 850px;
  top: 9px;
}

.cab-logo img{
  height: 30px;
}

.user{
  display: inline-flex;
  position: absolute;
  right: 50px;
  top: 5px;
}

.user img{
  height: 40px;
  border-radius: 30px;
}

.user h3{
  margin-left: 10px;
  margin-top: 7px;
  font-weight: 300;
}

.botao-sair{
  font-weight: 300;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #585858;
  width: 60px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 0px;
  cursor: pointer;
}

.botao-sair:hover{
  background-color: rgb(133, 204, 133);
}

.user a{
  color: #e2e2e2;
  position: absolute;
  right: 80px;
}


.menu-lateral{
  width: 100%;
  height: 100%;
}

div#botoes{
  width: 80px;
  height: 100%;
  background-color: #556B2F;
  padding: 10px 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.3;
}

div#botoes.expandir{
  width: 320px;
}

.btn-expandir{
  width: 100%;
  padding-left: 18px;
  padding-bottom: 11px;
}

.btn-expandir > i{
  color: white;
  font-size: 40px;
  cursor: pointer;
}

ul{
  height: 100%;
  list-style-type: none;
  }
ul li#item-menu{
    transition: 0.3s;
  }

ul li.ativo{
  background: #585858;
}

ul li#item-menu:hover{
  background: #585858;
}

ul li#item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 20px;
    padding-left: 12px;
  }

  ul li#item-menu a .txt-link{
    margin-left: 70px;
    transition: .3s;
    opacity: 0;
    padding-top: 5px;
    font-weight: 300;
  }

  div#botoes.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
  }

  ul li#item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
  }

#home1 {
    height: 861px;
    background-image:url(../img/fundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .slider{
    position: relative;
    top: 100px;
  }

  .footer{

    position: absolute;
    top: 790px;
    left: 825px;
    background-color: #556B2F;
    width: 400px;
    height: 60px;
    border-radius: 30px;
    box-shadow: #1e2512 50px;
  }

.contents div{
  display: none;
}

.contents .active{
  display: block;
  margin: 0px 0px 0px 80px;
  padding: 50px;
  width: 1840px;
  text-align: center;
}
a{
  display: inline-flex;
}

.footer i{
  color: white;
}

.email{
  position: absolute;
  top: 17px;
  left: 60px;
  font-weight: 400;
  color: white;
}

.telefone{
  position: absolute;
  top: 17px;
  left: 272px;
}

#envelope{
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 32px;
}

#whatsapp{
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 250px;
}

.telefone{
  font-weight: 400;
  color: white;
}

.slider{
  border-radius: 5px;
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 800px;
}

.manual-navigation{
  position:absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
 margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
 }

 #radio4:checked ~ .first{
  margin-left: -75%;
 }

 .navigation-auto section{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
 }

 .navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
 }

 .navigation-auto section:not(:last-child){
  margin-right: 40px;
 }

 #radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
 }

 #radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
 }

 #radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: white;
 }

 #radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: white;
 }

/*Style Página de Imagens*/

.imgTitulo {
  width:600px;
  font-size:50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #556B2F;
  height: 250px;
  position: absolute;
  top: 20%;
  left: 35%;
  z-index: -1;
}

.galleryBoa {
  background-color: #72913c;
  position: relative;
  column-count: 3;
  column-gap: 10px;
  border-radius: 10px;
  top: 100px;
  left:0px;
}

.galleryBoa img {
  margin: 15px;
  width: 85%;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.galleryRuim {
  background-color: #aaa;
  position: relative;
  column-count: 3;
  column-gap: 10px;
  top: 100px;
  left:0px;
  border-radius: 10px;
}

.galleryRuim img {
  margin: 15px;
  width: 85%;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.containerImagens {
  text-align: center;
  margin-top: 20px;
  height: 800px;
  position: absolute;
  position: absolute;
}

.botoes {
  position: absolute;
}

.botaoVerde {
  background-color: #556b2f;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  position: relative;  
  top: 100px;
  left: 0px;
  border-radius: 20px;
}

.botaoVermelho {
  background-color: rgb(171, 14, 14);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  position: relative;  
  top: 100px;
  left: 0px;
  border-radius: 20px;
}

.galeriaContainer {
  margin-top: 20px;
}

.galeriaBR {
  column-count: 2;
  column-gap: 10;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.hidden-input {
  display: none;
}

/*Style da página de agendamento de reunião*/

.container_agenda {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

#calendar {
  margin: 20px 0;
}

.dataBotao {
  margin: 20px 0;
}

.popupAgenda {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popupAgenda dataBotao {
  margin: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/*Serviço*/
.solicitacos

#serv
{
  width: 500px;
  height: 100%; 
  font-size: xx-large;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(15, 15, 15);
  text-align: center;
  top: 100px;
  margin-left: 110px;
  margin: right 200px;
}

   #msg{width:600px;
    font-size:22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111010;
    height: 250px;
    border-color:rgb(26, 11, 124);
    background-color:rgb(205, 201, 201);
    position: absolute;
    top: 25%;
    left: 22%;
    z-index: -1;
    }

    input[type="file"] {
      display: none;
    }
    
    /* Estilizar o botão personalizado */
    .custom-file-button {
      background-color: #ddd;
      border: 1px solid #49ad50;
      padding: 9px 12px;
      border-radius: 4px;
      cursor: pointer;
      width: 100px;
      height: 40px;
      font-size:13PX;
      font-family:Arial, Helvetica, sans-serif;
      position: absolute;
     top: 62%;
     left: 22%;
     z-index: -1;
    }
    
    .custom-file-button:hover {
      background-color:  #49ad50;
    }

    .btn-outline-success2{   
      background-color: #ddd;
      border: 1px solid #49ad50;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      width: 100px;
      height: 40px;
      font: size 13PX;
      font-family:Arial, Helvetica, sans-serif;
      position: absolute;
     top: 62%;
     left: 55%;
    z-index: -1;
    }
    .btn-outline-success2:hover{
      background-color: #49ad50;
    }


  h2{ 
    width: 500px;
    height: 100%; 
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
    top: 75%;
    left: 15%;
    position: absolute;
    z-index: -1;
  }
  #salvarMsg{width:600px;
    font-size:22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #010101;
    height: 250px;
    text-align:start ;
    border-color:rgb(26, 11, 124);
    background-color:rgb(205, 201, 201);
    position: absolute;
    top: 83%;
    left: 22%;
    z-index: -1;
    }
    /*Quem somos*/
    #qs{
      width:600px;
      font-size:50px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      color: #556B2F;
      height: 250px;
      position: absolute;
      top: 10%;
      left: 47%;
      z-index: -1;
  }
  #np{
      width:600px;
      font-size:30px;
      font-family: Arial, Helvetica, sans-serif;
      color: #111010;
      height: 250px;
      position: absolute;
      top: 25%;
      left: 47%;
      z-index: -1;
  }
  #desenv{width:1050px;
      font-size:30px;
      font-family:'Courier New', Courier, monospace;
      color: white;
      height: 250px;
      position: absolute;
      text-align: center;
      top: 35%;
      left: 27%;
      z-index: -1;
      
  }
  .valores{ width: 350px;
      font-family:serif;
      background-color: #556B2F;
      color: white;
     
  }
  #Missão{width: 255px;px;
      font-size:35px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      height: 350px;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 80%;
      left: 27%;
      z-index: -1;
  }
  #fornecer{width: 210px;
      font-size:20px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 92%;
      left: 29%;
      z-index: -1;
      }
  #visao{width: 255px;px;
      font-size:35px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      height: 350px;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 80%;
      left: 44%;
      z-index: -1;
  }
  #v{width: 210px;
      font-size:20px;
      font-family:Courier New', Courier, monospace;
      color: #111010;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 92%;
      left: 45%;
      z-index: -1;
      
  }
  #objt{width: 255px;px;
      font-size:35px;
      font-family: 'Courier New', Courier, monospace];
      height: 350px;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 80%;
      left: 61%;
      z-index: -1;
  }
  #objt1{width: 255px;
      font-size:20px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 93%;
      left: 61%;
      z-index: -1;
  }
  #objt2{width: 230px;
      font-size:20px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 105%;
      left: 62%;
      z-index: -1;
  }
  #objt3{width: 230px;
      font-size:20px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 120% ;
      left: 62%;
      z-index: -1;
  }
  #valor{width: 255px;px;
      font-size:35px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      height: 350px;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 80%;
      left: 78%;
      z-index: -1;
  
  }
  #vlr1{width: 230px;
      font-size:20px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 93%;
      left: 79%;
      z-index: -1;
  
  }
  #vlr2{width: 230px;
      font-size:20px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 110%;
      left: 79%;
      z-index: -1;
  
  }
  #time{
    width: 230px;
      font-size:30px;
      font-family: Courier New', Courier, monospace;
      color: #111010;
      border-color:rgb(26, 11, 124);
      position: absolute;
      text-align: center;
      top: 150%;
      left: 50%;
      z-index: -1;
  }
  #Gabriel{width: 255px;px;
    font-size:15px;
    font-family: Courier New', Courier, monospace;
    color: #111010;
    height: 350px;
    border-color:rgb(26, 11, 124);
    position: absolute;
    top: 180%;
    left: 27%;
    z-index: -1;
  }
  #imgG{width: 80px;px;
    height: 80px;
    border-color:rgb(26, 11, 124);
    position: absolute;
    top: 165%;
    left: 33%;
    z-index: -1;
    
  }
  #Marytom{width: 255px;
    font-size:15px;
    font-family: Courier New', Courier, monospace;
    color: #111010;
    height: 350px;
    border-color:rgb(26, 11, 124);
    position: absolute;
    top: 180%;
    left: 40%;
    z-index: -1;
  }
  #imgM{
    width: 80px;px;
    height: 80px;
    border-color:rgb(26, 11, 124);
    position: absolute;
    top: 165%;
    left: 46%;
    z-index: -1;
  }
  #Matheus{width: 255px;px;
    font-size:15px;
    font-family: Courier New', Courier, monospace;
    color: #111010;
    height: 350px;
    border-color:rgb(26, 11, 124);
    position: absolute;
    top: 180%;
    left: 53%;
    z-index: -1;
  }
  #imgm{
    width: 80px;px;
    height: 80px;
    border-color:rgb(26, 11, 124);
    position: absolute;
    top: 165%;
    left: 59%;
    z-index: -1;

  }
  #Leticia{width: 255px;px;
    font-size:15px;
    font-family: Courier New', Courier, monospace;
    color: #111010;
    height: 350px;
    border-color:rgb(26, 11, 124);
    position: absolute;
    top: 179%;
    left: 68%;
    z-index: -1;
  }

#imgl{width: 80px;
  height: 80px;
  border-color:rgb(26, 11, 124);
  position: absolute;
  top: 165%;
  left: 73%;
  z-index: -1;
  
}
 
  