*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.cabecalho{
  position: relative;
  background-color: #556B2F;
  height: 50px;
}

.cab-logo{
  position: absolute;
  right: 850px;
  top: 9px;
}

.cab-logo img{
  height: 30px;
}

.user{
  display: inline-flex;
  position: absolute;
  right: 50px;
  top: 5px;
}

.user img{
  height: 40px;
  border-radius: 30px;
}

.user h3{
  margin-left: 10px;
  margin-top: 7px;
  font-weight: 300;
}

.botao-sair{
  font-weight: 300;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #585858;
  width: 60px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 0px;
  cursor: pointer;
}

.botao-sair:hover{
  background-color: rgb(133, 204, 133);
}

.user a{
  color: #e2e2e2;
  position: absolute;
  right: 80px;
}


.menu-lateral{
  width: 100%;
  height: 100%;
}

div#botoes{
  width: 80px;
  height: 100%;
  background-color: #556B2F;
  padding: 10px 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.3;
}

div#botoes.expandir{
  width: 320px;
}

.btn-expandir{
  width: 100%;
  padding-left: 18px;
  padding-bottom: 11px;
}

.btn-expandir > i{
  color: white;
  font-size: 40px;
  cursor: pointer;
}

ul{
  height: 100%;
  list-style-type: none;
  }
ul li#item-menu{
    transition: 0.3s;
  }

ul li.ativo{
  background: #585858;
}

ul li#item-menu:hover{
  background: #585858;
}

ul li#item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 20px;
    padding-left: 12px;
  }

  ul li#item-menu a .txt-link{
    margin-left: 70px;
    transition: .3s;
    opacity: 0;
    padding-top: 5px;
    font-weight: 300;
  }

  div#botoes.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
  }

  ul li#item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
  }

.contents div{
  display: none;
}

.contents .active{
  display: block;
  margin: 0px 0px 0px 80px;
  padding: 50px;
  width: 1840px;
  text-align: center;
}
a{
  display: inline-flex;
}

.canva{
  margin: 0 auto;
}



.active .canva h3{
  color: #556B2F;
  font-size: 22px;
  text-align: left;
  position: absolute;
  top: 720px;
  left: 680px;
}

#farm1 img{
  border-radius: 15px;
  object-fit: cover;
  width: 900px;
  height: 500px;
  margin: 50px;
  
}

#farm2 img{
  border-radius: 15px;
  object-fit: cover;
  width: 500px;
  height: 500px;
}

/*Style Página de Imagens*/

.picture_input
{
   display:none; 
}

.picture {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    Justify-content: center;
    color: #556b2f;
    border:2px dashed #aaa;
    cursor: pointer;
    transition: color 300ms easy-in-out; background 300ms easy-in-ou; outline 300ms easy-in-out;
    border-radius: 10px;
    position:absolute;
    top: 50%;
    transform: translate(110%, -50%);
}

.picture:hover {
    color: #556b2f;
    background: #ccc;
    box-shadow: 0 0 10px #646464;
}

.picture:active {
    color: white;
    background: #556b2f;
    Border-color: #666b2f;
    box-shadow: 0 0 10px #646464;
}

.picture:focus {
    outline : 2px solid #888888;
    box-shadow: 0 0 10px gray;
}

.picture2 {
    max-width: 100%;
}

.picture_image {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 0%);
}

#container-a {
    weight: 400px;
    height: 350px;
    background: white;
    vertical-align: top;
    position: relative;
    left: 240px;
}

#container-b {
    weight: 400px;
    height: 1200px;
    background: #eee;
    position: absolute; 
    right: 400px;
    top: 430px;
}

img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

section {
    column-count: 3;
    column-gap: 10px;
}

#titulo01 {
  text-align: center;
  font-size: 30px;
  color: #556B2F;
  margin-top: 50px;
}

#titulo02 {
  position: absolute;
  text-align: center;
  font-size: 30px;
  color: #556B2F;
  top: 350px;
  left: 400px;
}
/*Serviço*/
.solicitacos

#serv
{
  width: 500px;
  height: 100%; 
  font-size: xx-large;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(15, 15, 15);
  text-align: center;
  top: 100px;
  margin-left: 110px;
  margin: right 200px;
}

  textarea{width:600px;
    font-size:22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #010101;
    height: 250px;
    border-color:rgb(26, 11, 124);
    background-color:rgb(205, 201, 201);
    position: absolute;
    top: 25%;
    left: 22%;
    z-index: -1;
    }

    input[type="file"] {
      display: none;
    }
    
    /* Estilizar o botão personalizado */
    .custom-file-button {
      background-color: #ddd;
      border: 1px solid #49ad50;
      padding: 9px 12px;
      border-radius: 4px;
      cursor: pointer;
      width: 100px;
      height: 40px;
      font: size 13PX;
      font-family:Arial, Helvetica, sans-serif;
      position: absolute;
     top: 62%;
     left: 22%;
     z-index: -1;
    }
    
    .custom-file-button:hover {
      background-color:  #49ad50;
    }

    .btn-outline-success2{   
      background-color: #ddd;
      border: 1px solid #49ad50;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      width: 100px;
      height: 40px;
      font: size 13PX;
      font-family:Arial, Helvetica, sans-serif;
      position: absolute;
     top: 62%;
     left: 55%;
    z-index: -1;
    }
    .btn-outline-success2:hover{
      background-color: #49ad50;
    }


  h2{ 
    width: 500px;
    height: 100%; 
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
    top: 75%;
    left: 15%;
    position: absolute;
    z-index: -1;
  }
