
h1{ 
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
    margin-top: 50px;
    margin-left: -150px;
    margin-right: 900px;
  }
  
  textarea{width:600px;
     font-size:22px;
     color: #585858;
      height: 250px;
       border-color:rgb(26, 11, 124);
       background-color:rgb(196, 194, 194);
      margin-top: 18px;
      margin-left: 15px;
      margin-right: 800px;
      }
  
      #Botao{
        width: 80px;
        height: 40px;
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(58, 235, 161);
        margin-bottom: 50px;
        border: left 300px;;
        margin-top: 30px;
        margin: left 500px;
        margin-right: 400px;
    }
    #Botao2{
      width: 80px;
      height: 40px;
      font-family:Arial, Helvetica, sans-serif;
      color: rgb(58, 235, 161);
      margin-bottom: 50px;
      border: left 300px;;
      margin-top: 30px;
      margin-left: 250px;
      margin: right 580px;
  
    }
  
  
    h2{ 
      width: 655px;
      height: 100px;
      font-size: xx-large;
      font-family:Arial, Helvetica, sans-serif;
      color: rgb(15, 15, 15);
    }